---
import Layout from '~/Layout.astro';
import CourseCard from '~/components/CourseCard.astro';
import { getCollection } from 'astro:content';
import { routes, tr } from '~/i18n.ts';
process.env.lang = Astro.params.lang;

export async function getStaticPaths() { return routes(); }
const courses = await getCollection('course');
---

<Layout title={tr`BSULi Courses`} description={tr`Courses we offer`}>
	<style>
		.title {
			text-align: center;
		}

		.cards {
		  display: grid;
		  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
			gap: 10px;
			padding: 1em;
		}
	</style>

	<main>
		<h1 class="title">{tr`Courses we offer`}</h1>
		<div class="cards">
		  {courses.map(course => (<CourseCard course={course} />))}
		</div>
	</main>
</Layout>
