---
import { Image } from 'astro:assets';
import tux from './tux.png';
import { tr, lnk } from '~/i18n.ts';
---

<style>
	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		border-bottom: 2px solid var(--border);
		background: var(--surface);
	}

	.logo > * {
		vertical-align: middle;
	}

	a {
		font-size: 1.5em;
		padding: 0.2em 0.4em;
		color: var(--fg);
	}
</style>

<nav>
	<a class="logo" href={lnk``}>
		<Image src={tux} height="48" alt="" />
		<h2 style="display: inline; padding-top: 5%">{tr`BSULi`}</h2>
	</a>
	<a href={lnk`/course`}>{tr`Courses`}</a>
</nav>
