---
import { Image } from 'astro:assets';
import tux from '../tux.png';
---

<style>
	nav {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		border-bottom: 2px solid var(--border);
		background: var(--surface);
	}

	.logo > * {
		vertical-align: middle;
	}

	a {
		font-size: 1.5em;
		padding: 0.2em 0.4em;
		color: var(--fg);
	}
</style>

<nav>
	<a class="logo" href="/">
		<Image src={tux} height="48" alt="" />
		<h2 style="display: inline; padding-top: 5%">BSULi</h2>
	</a>
	<a href="/course">Courses</a>
</nav>
