---
import { Image } from 'astro:assets';
import LanguageSelector from '~/components/LanguageSelector.astro';
import ThemeToggle from '~/components/ThemeToggle.astro';
import tux from './tux.png';
import { tr, lnk } from '~/i18n.ts';
---

<style>
	nav {
		order: -1;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		border-bottom: 2px solid var(--border);
		background: var(--surface);
	}

	.logo > * {
		vertical-align: middle;
	}

	a {
		font-size: 1.5em;
		padding: 8px;
		color: var(--fg);
	}

	.buttons-end {
		display: flex;
		margin-left: auto;
		padding: 8px;
		gap: 5px;
	}

	@media (max-width: 720px) {
		nav {
			justify-content: center;
		}

		.buttons-end {
			margin-left: 0;
		}
	}
</style>

<nav>
	<a class="logo" href={lnk``}>
		<Image src={tux} height="48" alt="" />
		<h2 style="display: inline; padding-top: 5%">{tr`BSULi`}</h2>
	</a>
	<a href={lnk`/course`}>{tr`Courses`}</a>
	<div class="buttons-end">
		<LanguageSelector />
		<ThemeToggle />
	</div>
</nav>
