---
import Layout from '~/Layout.astro';
import { routes, tr, trinl } from '~/i18n.ts';
process.env.lang = Astro.params.lang;

export async function getStaticPaths() { return routes(); }
---

<Layout title={tr`BSULi`} description={tr`A real website for an imaginary university`}>
	<main>
		<h1>{tr`BSULi`}</h1>
		{tr`A real website for an imaginary university`}.
		<br>
		{trinl({
		  'en': 'Contrary to popular belief, I did actually teach people. And roadmaps I made can be found here for free!',
	    'ru': 'Вопреки распространённому мнению, я действительно учил людей. И созданные мной дорожные карты можно найти здесь бесплатно!',
	    'be': 'Насуперак распаўсюджанаму меркаванню, я сапраўды вучыў людзей. І створаныя мной дарожныя карты можна знайсці тут бясплатна!',
	    'la': 'Contra opinionem vulgatam, vere homines docebam. Itineraque a me designata hic gratis inveniuntur!',
	  })}
		</main>
</Layout>
